body {
	font-family: sans-serif;
	line-height: 1.5;
}
h1 {
  font-weight: 200;
  color: forestgreen;
  font-style: italic;
  font-weight: bold;
  font-size: 5em;
}
header{
    float: left;
    margin-left: 3em;
}
#menu {
	
	margin: 0;
	padding: 0;
}
#menu li {
	
	list-style-type: none;
	margin: 1em;
}
#menu li p {
	margin-top: 0;
    font-weight: bold;
    color: forestgreen;
    font-size: 1.5em;
}
main {
    width: 60%;
    float: right;
}
#diaNoche {
	width: 150px;
	height: 100px;
	text-align: center;
	font-weight: bold;
    margin-bottom: 1em;
    font-size: 2em;
    color: goldenrod;
}
footer{
    margin: 0 auto;
    display: table;
    width: 60%;
    float: right;
}
footer > p {
    display: inline-block;
    color: goldenrod;
    font-style: italic;
}
#email{
    margin-left: 20px;
}